tsk-mng-parent/tsk-mng-frontend/src/main/resource/wsdl/TaskManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://tsk.mng/TaskManagementService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskManagementService"
	targetNamespace="http://tsk.mng/TaskManagementService/" 
	xmlns:ns3="http://tsk.mng/header/soapHeader"
	xmlns:ns4="http://tsk.mng/taskManagement/task_management">
	
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://tsk.mng/TaskManagementFEService/">

			<xsd:import namespace="http://tsk.mng/header/soapHeader"
				schemaLocation="soapHeader/soap_header.xsd" />
				
			<xsd:import namespace="http://tsk.mng/taskManagement/task_management"
				schemaLocation="taskManagement/task_management.xsd" />

		</xsd:schema>
	</wsdl:types>
	<!-- Messages -->

	<wsdl:message name="assignUserToTaskRequest">
		<wsdl:part name="soapHeader" element="ns3:user_auth" />
		<wsdl:part name="assignUserToTaskRequest" element="ns4:assignTaskToUser_request" />
	</wsdl:message>

	<wsdl:message name="assignUserToTaskResponse">
		<wsdl:part name="assignUserToTaskResponse" element="ns4:assignTaskToUser_response" />
	</wsdl:message>

	<wsdl:message name="getUserTasksRequest">
		<wsdl:part name="soapHeader" element="ns3:user_auth" />
		<wsdl:part name="getUserTasksRequest" element="ns4:getUserTasks_request" />
	</wsdl:message>

	<wsdl:message name="getUserTasksResponse">
		<wsdl:part name="getUserTasksResponse" element="ns4:getUserTasks_response" />
	</wsdl:message>

	<wsdl:message name="removeTaskFromUserRequest">
		<wsdl:part name="soapHeader" element="ns3:user_auth" />
		<wsdl:part name="removeTaskFromUserRequest" element="ns4:removeTaskFromUser_request" />
	</wsdl:message>

	<wsdl:message name="removeTaskFromUserResponse">
		<wsdl:part name="removeTaskFromUserResponse" element="ns4:removeTaskFromUser_response" />
	</wsdl:message>
	
	<wsdl:message name="updateTaskRequest">
		<wsdl:part name="soapHeader" element="ns3:user_auth" />
		<wsdl:part name="updateTaskRequest" element="ns4:updateTask_request" />
	</wsdl:message>
	<wsdl:message name="updateTaskResponse">
		<wsdl:part name="updateTaskResponse" element="ns4:updateTask_response" />
	</wsdl:message>


	<!-- Port type - inside it define all the operations with their inputs and 
		outputs -->

	<wsdl:portType name="TaskManagementServicePortType">
		<wsdl:operation name="assignUserToTaskOperation">
			<wsdl:input name="input1" message="tns:assignUserToTaskRequest" />
			<wsdl:output name="output1" message="tns:assignUserToTaskResponse" />
		</wsdl:operation>

		<wsdl:operation name="getUserTasksOperation">
			<wsdl:input name="input2" message="tns:getUserTasksRequest" />
			<wsdl:output name="output2" message="tns:getUserTasksResponse" />
		</wsdl:operation>

		<wsdl:operation name="removeTaskFromUserOperation">
			<wsdl:input name="input3" message="tns:removeTaskFromUserRequest" />
			<wsdl:output name="output3" message="tns:removeTaskFromUserResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="updateTaskOperation">
			<wsdl:input name="input4" message="tns:updateTaskRequest" />
			<wsdl:output name="output4" message="tns:updateTaskResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="TaskManagementServiceBinding" type="tns:TaskManagementServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
			
		<wsdl:operation name="assignUserToTaskOperation">
			<soap:operation soapAction="assignUserToTaskOperation" />
			<wsdl:input name="input1">
				<soap:header use="literal" part="soapHeader" message="tns:assignUserToTaskRequest" />
				<soap:body use="literal" parts="assignUserToTaskRequest" />
			</wsdl:input>
			<wsdl:output name="output1">
				<soap:body use="literal" parts="assignUserToTaskResponse" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getUserTasksOperation">
			<soap:operation soapAction="updateTaskOperation" />
			<wsdl:input name="input2">
				<soap:header use="literal" part="soapHeader" message="tns:getUserTasksRequest" />
				<soap:body use="literal" parts="getUserTasksRequest" />
			</wsdl:input>
			<wsdl:output name="output2">
				<soap:body use="literal" parts="getUserTasksResponse" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="removeTaskFromUserOperation">
			<soap:operation soapAction="removeTaskFromUserOperation" />
			<wsdl:input name="input3">
				<soap:header use="literal" part="soapHeader" message="tns:removeTaskFromUserRequest" />
				<soap:body use="literal" parts="removeTaskFromUserRequest" />
			</wsdl:input>
			<wsdl:output name="output3">
				<soap:body use="literal" parts="removeTaskFromUserResponse" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="updateTaskOperation">
			<soap:operation soapAction="updateTaskOperation" />
			<wsdl:input name="input4">
				<soap:header use="literal" part="soapHeader" message="tns:updateTaskRequest" />
				<soap:body use="literal" parts="updateTaskRequest" />
			</wsdl:input>
			<wsdl:output name="output4">
				<soap:body use="literal" parts="updateTaskResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TaskManagementService">
		<wsdl:port binding="tns:TaskManagementServiceBinding" name="TaskManagementServicePort">
			<soap:address location="http://localhost:8080/TaskManagementService/services/TaskManagementServicePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
