tsk-mng-parent/tsk-mng-frontend/src/main/resource/wsdl/UserManagementServiceWSDL/UserManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://org.tsk.mng/taskManagement/UserManagementService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="UserManagementService" targetNamespace="http://org.tsk.mng/taskManagement/UserManagementService/"
	xmlns:ns0="http://org.tsk.mng/taskManagement/header/soapHeader"
	xmlns:ns1="http://org.tsk.mng/taskManagement/user_management_wrapper">

	<!-- Types -->
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://org.tsk.mng/taskManagement/UserManagementService/">

			<xsd:import namespace="http://org.tsk.mng/taskManagement/header/soapHeader"
				schemaLocation="../CommonElementTypes/SoapHeaderElements/soap_header.xsd" />

			<xsd:import
				namespace="http://org.tsk.mng/taskManagement/user_management_wrapper"
				schemaLocation="UserManagementServiceElements/user_management_warpper.xsd" />

		</xsd:schema>
	</wsdl:types>


	<!-- Messages -->

	<!-- addSuperiorToUser Message -->
	<wsdl:message name="addSuperiorToUserRequestMessage">
		<wsdl:part name="soapHeader" element="ns0:userAuthInfo" />
		<wsdl:part name="addSuperiorToUserRequest"
			element="ns1:addSuperiorToUserOperationElementRequest" />
	</wsdl:message>

	<wsdl:message name="addSuperiorToUserResponseMessage">
		<wsdl:part name="addSuperiorToUserResponse"
			element="ns1:addSuperiorToUserOperationElementResponse" />
	</wsdl:message>

	<!-- createUser Message -->
	<wsdl:message name="createUserRequestMessage">
		<wsdl:part name="soapHeader" element="ns0:userAuthInfo" />
		<wsdl:part name="createUserRequest" element="ns1:createUserOperationElementRequest" />
	</wsdl:message>

	<wsdl:message name="createUserResponseMessage">
		<wsdl:part name="createUserResponse" element="ns1:createUserOperationElementResponse" />
	</wsdl:message>

	<!-- deleteUser Message -->
	<wsdl:message name="deleteUserRequestMessage">
		<wsdl:part name="soapHeader" element="ns0:userAuthInfo" />
		<wsdl:part name="deleteUserRequest" element="ns1:deleteUserOperationElementRequest" />
	</wsdl:message>

	<wsdl:message name="deleteUserResponseMessage">
		<wsdl:part name="deleteUserResponse" element="ns1:deleteUserOperationElementResponse" />
	</wsdl:message>

	<!-- readUser Message -->
	<wsdl:message name="readUserRequestMessage">
		<wsdl:part name="soapHeader" element="ns0:userAuthInfo" />
		<wsdl:part name="readUserRequest" element="ns1:readUserOperationElementRequest" />
	</wsdl:message>

	<wsdl:message name="readUserResponseMessage">
		<wsdl:part name="readUserResponse" element="ns1:readUserOperationElementResponse" />
	</wsdl:message>

	<!-- updateUser Message -->
	<wsdl:message name="updateUserRequestMessage">
		<wsdl:part name="soapHeader" element="ns0:userAuthInfo" />
		<wsdl:part name="updateUserRequest" element="ns1:updateUserOperationElementRequest" />
	</wsdl:message>

	<wsdl:message name="updateUserResponseMessage">
		<wsdl:part name="updateUserResponse" element="ns1:updateUserOperationElementResponse" />
	</wsdl:message>

	<!-- PortType -->
	<wsdl:portType name="UserManagementServicePortType">

		<wsdl:operation name="addSuperiorToUserOperation">
			<wsdl:input name="input1" message="tns:addSuperiorToUserRequestMessage" />
			<wsdl:output name="output1" message="tns:addSuperiorToUserResponseMessage" />
		</wsdl:operation>

		<wsdl:operation name="createUserOperation">
			<wsdl:input name="input2" message="tns:createUserRequestMessage" />
			<wsdl:output name="output2" message="tns:createUserResponseMessage" />
		</wsdl:operation>

		<wsdl:operation name="deleteUserOperation">
			<wsdl:input name="input3" message="tns:deleteUserRequestMessage" />
			<wsdl:output name="output3" message="tns:deleteUserResponseMessage" />
		</wsdl:operation>

		<wsdl:operation name="readUserOperation">
			<wsdl:input name="input4" message="tns:readUserRequestMessage" />
			<wsdl:output name="output4" message="tns:readUserResponseMessage" />
		</wsdl:operation>

		<wsdl:operation name="updateUserOperation">
			<wsdl:input name="input5" message="tns:updateUserRequestMessage" />
			<wsdl:output name="output5" message="tns:updateUserResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- Bindind -->
	<wsdl:binding name="UserManagementServiceBinding" type="tns:UserManagementServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="addSuperiorToUserOperation">
			<soap:operation soapAction="addSuperiorToUserOperation" />
			<wsdl:input name="input1">
				<soap:header use="literal" part="soapHeader"
					message="tns:addSuperiorToUserRequestMessage" />
				<soap:body use="literal" parts="addSuperiorToUserRequest" />
			</wsdl:input>
			<wsdl:output name="output1">
				<soap:body use="literal" parts="addSuperiorToUserResponse" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="createUserOperation">
			<soap:operation soapAction="createUserOperation" />
			<wsdl:input name="input2">
				<soap:header use="literal" part="soapHeader"
					message="tns:createUserRequestMessage" />
				<soap:body use="literal" parts="createUserRequest" />
			</wsdl:input>
			<wsdl:output name="output2">
				<soap:body use="literal" parts="createUserResponse" />
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="deleteUserOperation">
			<soap:operation soapAction="deleteUserOperation" />
			<wsdl:input name="input3">
				<soap:header use="literal" part="soapHeader"
					message="tns:deleteUserRequestMessage" />
				<soap:body use="literal" parts="deleteUserRequest" />
			</wsdl:input>
			<wsdl:output name="output3">
				<soap:body use="literal" parts="deleteUserResponse" />
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="readUserOperation">
			<soap:operation soapAction="readUserOperation" />
			<wsdl:input name="input4">
				<soap:header use="literal" part="soapHeader"
					message="tns:readUserRequestMessage" />
				<soap:body use="literal" parts="readUserRequest" />
			</wsdl:input>
			<wsdl:output name="output4">
				<soap:body use="literal" parts="readUserResponse" />
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="updateUserOperation">
			<soap:operation soapAction="updateUserOperation" />
			<wsdl:input name="input5">
				<soap:header use="literal" part="soapHeader"
					message="tns:updateUserRequestMessage" />
				<soap:body use="literal" parts="updateUserRequest" />
			</wsdl:input>
			<wsdl:output name="output5">
				<soap:body use="literal" parts="updateUserResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Service -->
	<wsdl:service name="UserManagementService">
		<wsdl:port binding="tns:UserManagementServiceBinding" name="UserManagementServicePort">
			<soap:address
				location="http://localhost:8080/TaskManagementService/services/UserManagementService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
