tsk-mng-parent/tsk-mng-frontend/wsdl/user/user_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://tsk.mng/user/user_request"
	targetNamespace="http://tsk.mng/user/user_request" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ns0="http://tsk.mng/task/task_request"
	xmlns:tns="http://tsk.mng/user/user_request">

	<xs:import schemaLocation="../task/task_request.xsd" namespace="http://tsk.mng/task/task_request" />
	<xs:element name="user_request" type="user_request" />

	<xs:complexType name="user_request">
		<xs:sequence>
			<xs:element name="mail" type="xs:string" />
			<xs:element name="firstName" type="xs:string" />
			<xs:element name="lastName" type="xs:string" />
			<xs:element name="nickName" type="xs:string" />
			<xs:element name="tasks" type="ns0:task_request" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="superiors" type="user_request" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="workers" type="user_request" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="password" type="xs:string" />
			<xs:element name="permission" type="tns:PermissionType" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PermissionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Admin" />
			<xs:enumeration value="User" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>