tsk-mng-parent/tsk-mng-frontend/src/main/webapp/WEB-INF/wsdl/CommonElementTypes/SoapHeaderElements/soap_header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://mng.tsk.org/taskManagement/header/soapHeader"
	xmlns:tns="http://mng.tsk.org/taskManagement/header/soapHeader"
	targetNamespace="http://mng.tsk.org/taskManagement/header/soapHeader"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="userAuthInfo" type="userAuthInfo" />

	<xs:complexType name="userAuthInfo">
		<xs:sequence>
			<xs:element name="userName" type="xs:string" />
			<xs:element name="password" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>