tsk-mng-parent/tsk-mng-frontend/src/main/webapp/WEB-INF/wsdl/TaskManagementServiceWSDL/TaskManagementServiceElements/task_management_warpper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://mng.tsk.org/taskManagement/task_management_wrapper"
	targetNamespace="http://mng.tsk.org/taskManagement/task_management_wrapper"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://mng.tsk.org/taskManagement/task_management_wrapper"
	xmlns:ns0="http://mng.tsk.org/taskManagement/common_elements/user/userFE"
	xmlns:ns1="http://mng.tsk.org/taskManagement/common_elements/task/taskFE"
	xmlns:ns2="http://mng.tsk.org/taskManagement/common_elements/user/userResult"
	xmlns:ns3="http://mng.tsk.org/taskManagement/common_elements/task/taskResult">

	<xs:import schemaLocation="../../CommonElementTypes/UserElements/userFE.xsd"
		namespace="http://mng.tsk.org/taskManagement/common_elements/user/userFE" />

	<xs:import schemaLocation="../../CommonElementTypes/TaskElements/taskFE.xsd"
		namespace="http://mng.tsk.org/taskManagement/common_elements/task/taskFE" />

	<xs:import schemaLocation="../../CommonElementTypes/UserElements/user_result.xsd"
		namespace="http://mng.tsk.org/taskManagement/common_elements/user/userResult" />

	<xs:import schemaLocation="../../CommonElementTypes/TaskElements/task_result.xsd"
		namespace="http://mng.tsk.org/taskManagement/common_elements/task/taskResult" />

		
	<!-- assignUserToTaskOperationElements -->
	
	<xs:element name="assignUserToTaskOperationElementRequest" type="tns:assignUserToTaskTypeRequest" />
	<xs:element name="assignUserToTaskOperationElementResponse" type="ns2:userResult" />
	
	<xs:element name="assignUserToTaskTypeRequest" type="assignUserToTaskTypeRequest" />
	
	<xs:complexType name="assignUserToTaskTypeRequest">
		<xs:sequence>
			<xs:element name="task" type="ns1:taskFE"/>
			<xs:element name="user" type="ns0:userFE"/>
		</xs:sequence>
	</xs:complexType>

	<!-- getUserTasksOperationElements-->
	
	<xs:element name="getUserTasksOperationElementRequest" type="tns:getUserTasksTypeRequest" />
	<xs:element name="getUserTasksOperationElementResponse" type="ns3:taskResult" />
	
	<xs:element name="getUserTasksTypeRequest" type="getUserTasksTypeRequest" />
		
	<xs:complexType name="getUserTasksTypeRequest">
		<xs:sequence>
			<xs:element name="user" type="ns0:userFE"/>
		</xs:sequence>
	</xs:complexType>

	<!-- removeTaskFromUserElements  -->
	<xs:element name="removeTaskFromUserOperationElementRequest" type="tns:removeTaskFromUserElementRequest" />
	<xs:element name="removeTaskFromUserOperationElementResponse" type="ns3:taskResult" />

	<xs:element name="removeTaskFromUserElementRequest" type="removeTaskFromUserElementRequest" />
		
	<xs:complexType name="removeTaskFromUserElementRequest">
		<xs:sequence>
			<xs:element name="task" type="ns1:taskFE"/>
			<xs:element name="user" type="ns0:userFE"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- addDependencyElements -->
	<xs:element name="addDependencyOperationElemetRequest" type="tns:addDependencyElemetRequest" />
	<xs:element name="addDependencyOperationElemetResponse" type="ns2:userResult" />
	
	<xs:element name="addDependencyElemetRequest" type="addDependencyElemetRequest" />
		
	<xs:complexType name="addDependencyElemetRequest">
		<xs:sequence>
			<xs:element name="task" type="ns1:taskFE"/>
			<xs:element name="dependedTask" type="ns1:taskFE"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- updateTaskElements -->
	<xs:element name="updateTaskOperationElemetRequest" type="tns:updateTaskElemetRequest" />
	<xs:element name="updateTaskOperationElemetResponse" type="ns3:taskResult" />
	
	<xs:element name="updateTaskElemetRequest" type="updateTaskElemetRequest" />
		
	<xs:complexType name="updateTaskElemetRequest">
		<xs:sequence>
			<xs:element name="task" type="ns1:taskFE"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>