tsk-mng-parent/tsk-mng-frontend/src/main/resource/wsdl/CommonElementTypes/UserElements/user_result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns="http://org.tsk.mng/taskManagement/common_elements/user/userResult"
	targetNamespace="http://org.tsk.mng/taskManagement/common_elements/user/userResult"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ns0="http://org.tsk.mng/taskManagement/common_elements/user/userFE"
	xmlns:ns1="http://org.tsk.mng/taskManagement/common_elements/opertaionResultStatus"
	xmlns:tns="http://org.tsk.mng/taskManagement/common_elements/user/userResult">

	<xs:import schemaLocation="userFE.xsd"
		namespace="http://org.tsk.mng/taskManagement/common_elements/user/userFE" />
	<xs:import schemaLocation="../opertaion_result_status.xsd"
		namespace="http://org.tsk.mng/taskManagement/common_elements/opertaionResultStatus"/>

	<xs:element name="userResult" type="userResult" />

	<xs:complexType name="userResult">
		<xs:sequence>
			<xs:element name="userReturnValues" type="ns0:userFE"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="resultStatus" type="ns1:OperationResultStatus" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>