tsk-mng-parent/tsk-mng-frontend/src/main/resource/wsdl/CommonElementTypes/TaskElements/taskFE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://org.tsk.mng/taskManagement/common_elements/task/taskFE"
	targetNamespace="http://org.tsk.mng/taskManagement/common_elements/task/taskFE" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://org.tsk.mng/taskManagement/common_elements/task/taskFE" 
	xmlns:ns0="http://org.tsk.mng/taskManagement/common_elements/user/userFE">

	<xs:import schemaLocation="../UserElements/userFE.xsd" namespace="http://org.tsk.mng/taskManagement/common_elements/user/userFE" />
		
	<xs:element name="taskFE" type="tns:taskFE" />

	<xs:complexType name="taskFE">
		<xs:sequence>
			<xs:element name="taskId" type="xs:int" />
			<xs:element name="status" type="tns:TaskStatusType" />
			<xs:element name="descriptions" type="xs:string" />
			<xs:element name="deadLine" type="xs:dateTime" />
			<xs:element name="alert" type="xs:dateTime" />
			<xs:element name="owner" type="ns0:userFE" />
			<xs:element name="dependentTasks" type="tns:taskFE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="TaskStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Done" />
			<xs:enumeration value="InProgress" />
			<xs:enumeration value="NotStarted" />
			<xs:enumeration value="Waiting" />
			<xs:enumeration value="Failed" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>